---
properties:

  template_only_aws_credentials: 
    access_key_id: REPLACE_ME
    secret_access_key: REPLACE_ME

  uaa:
    jwt:
      signing_key: |
        -----BEGIN RSA PRIVATE KEY-----
        REPLACE_ME
        -----END RSA PRIVATE KEY-----

      verification_key: |
        -----BEGIN PUBLIC KEY-----
        REPLACE_ME
        -----END PUBLIC KEY-----

    cc:
      client_secret: REPLACE_ME 
    admin:
      client_secret: REPLACE_ME 
    batch:
      username: REPLACE_ME 
      password: REPLACE_ME 
    clients:
      login:
        secret: REPLACE_ME 
      portal:
        secret: REPLACE_ME 
      billing:
        secret: REPLACE_ME 
      app-direct:
        secret: REPLACE_ME 
      support-services:
        secret: REPLACE_ME 
      servicesmgmt:
        secret: REPLACE_ME 
      space-mail:
        secret: REPLACE_ME 
      developer_console:
        secret: REPLACE_ME 
    scim:
      users:
        - admin|REPLACE_ME|scim.write,scim.read,openid,cloud_controller.admin

  nats:
    user: REPLACE_ME 
    password: REPLACE_ME 

  cc:
    bulk_api_password: REPLACE_ME 
    staging_upload_user: REPLACE_ME 
    staging_upload_password: REPLACE_ME 
    db_encryption_key: REPLACE_ME 

  router:
    status:
      user: REPLACE_ME 
      password: REPLACE_ME 

  serialization_data_server:
    upload_token: REPLACE_ME 

  loggregator_endpoint:
    shared_secret: REPLACE_ME 

  ha_proxy:
    ssl_pem: |
      -----BEGIN CERTIFICATE-----
      REPLACE_ME
      -----END CERTIFICATE-----
      -----BEGIN RSA PRIVATE KEY-----
      REPLACE_ME
      -----END RSA PRIVATE KEY-----